.banner {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border-radius: 25px;
    margin-bottom: 50px;
    max-width: 1240px;
    height: 223px;
    background: url('../assets/banner2.png');
    background-position: center;
    background-size: cover;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    -webkit-filter: brightness(70%);
    filter:brightness(70%);
}