.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FF6060;
  margin: 15% auto;
}

.error_title {
  font-size: 288px;
  margin: 0 auto;
}

.error_text {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 154px;
  font-size: 36px;
}

.errorBack {
  color:#FF6060;
  margin-bottom: 130px;
}

@media screen and (768px >= width) {
  .error {
    margin-top: 195px;
  }

  .error_title {
    font-size: 96px;
  }

  .error_text {
    font-size: 18px;
    margin: 0 15% 130px 15%;
    text-align: center;
  }
}
