.header {
  color: black;
  text-align: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1240px;
  margin: auto;
  padding: 40px 0;
}

.kasa-logo-img {
  height: 68px;
}

.nav-bar {
  padding-left: 32px;
  list-style: none;
  display: flex;
  font-size: 24px;
  a {
    height: 34px;
    width: 136px;
    text-decoration: none;
    color:#FF6060;
    :hover {
      border-bottom: 2px solid #FF6060;
      cursor: pointer;
    }
  }    
}
