.header {
  color: black;
  text-align: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1240px;
  margin: 40px auto 0 auto;
  width: 100%;
}

.kasa-logo-img {
  height: 68px;
}

.nav-bar {
  padding-left: 32px;
  list-style: none;
  display: flex;
  font-size: 24px;
  a {
    height: 34px;
    width: 136px;
    text-decoration: none;
    color:#FF6060;
    :hover {
      border-bottom: 2px solid #FF6060;
      cursor: pointer;
    }
  }    
}

@media screen and (280px <= width <= 386px) {
  .header {
    width: auto;
    margin: 20px;
    justify-content: space-between;
  }
  .nav-bar {
    flex-direction: column;
    font-size: 12px;
    a {
      height: 26px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
  .kasa-logo-img {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: flex-start;
  }
}

@media screen and (376px <= width <= 768px) {
  .header {
    width: auto;
    margin: 20px;
    
    ul {
      margin: 0;
      a {
        margin-left: 10px;
        font-size: 18px;
      }
    }
    a {
      width: auto;
      height: 100%;
    }
  }  
  .kasa-logo-img {
    width: 145px;
    height: 100%;
  }  
}

@media screen and (769px <= width <= 992px) {
  .header {
    width: auto;
    height: 74px;
    margin: 20px;
    list-style: none;
    font-size: 16px;
  }  
  .kasa-logo-img {
    width: 145px;
    height: 47px;
  }  
}

@media screen and (993px <= width <= 1200px) {
  .header {
    width: auto;
    height: 60px;
    margin: 40px;
    list-style: none;
    font-size: 16px;
    align-items: normal;
    a {
      width: auto;
      height: 17px;
      margin-right: 10px;
    }
    .kasa-logo-img {
      width: 180px;
      height: 56px;
    } 
  } 
  .nav-bar {
    align-items: center;
  }
} 

@media screen and (1200px <= width) {
  .header {
    width: auto;
    margin: 40px;
  }
}

