.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.images_gallery {
  background: #F7F7F7;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-radius: 25px;
  width: 100%;
  padding-top: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  a {
    width: 340px;
    height: 340px;
    margin: 20px 15px;
  }
}

.key-box {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  border-radius: 10px;
  z-index: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
  &:hover {
    cursor: pointer;
    box-shadow: 5px 5px 10px #7a7a80;
  }
}

.title-box {
  position: absolute;
  left: 5.88%;
  bottom: 17px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
  display: flex;
  align-items: flex-end;
  color: white;
}

.kasa-body {
  width: 100%;
}

@media screen and (335px <= width <= 400px) {
  .images_gallery {
    background-color: #ffffff;
    margin: 0 20px;
    padding: 0;
    a {
      width: 100%;
      height: 340px;
      margin: 10px;
    }
  }
  
}

@media screen and (401px <= width <= 779px) {
  .images_gallery {
    background-color: #ffffff;
    margin-top: 10px;
    padding: 0;
    a {
      width: 100%;
      height: 340px;
      margin: 10px 20px;
    }
  } 
}

@media screen and (779px <= width <= 992px) { 
  .images_gallery {
    margin: 0 20px;
    margin-top: 20px;
  } 
}

@media screen and (993px <= width <= 1200px) {
  .images_gallery {
    margin: 0 40px;
    margin-top: 40px;
  } 
}