.container {
  max-width: 1240px;
  height: auto;
  margin: 0 auto;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.images_gallery {
  background: #F7F7F7;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-radius: 25px;
  width: 100%;
  padding-top: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  a {
    width: 340px;
    height: 340px;
    margin: 20px 15px;
  }
}

.key-box {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  border-radius: 10px;
  z-index: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
  &:hover {
    cursor: pointer;
    box-shadow: 5px 5px 10px #7a7a80;
  }
}

.title-box {
  position: absolute;
  left: 5.88%;
  bottom: 17px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
  display: flex;
  align-items: flex-end;
  color: white;
}

.kasa-body {
  width: 100%;
}

@media screen and (768px >= width) {
  .images_gallery {
    background-color: #ffffff;
    justify-content: space-evenly;
    border-radius: 25px;
    padding: 0;
    margin: 0;
    a {
      width: 94%;
      height: 255px;
      margin: 0 20px 20px 20px;
    }
  }
}

@media screen and (768px <= width <= 992px) {
  .images_gallery {
    background-color: #ffffff;
    a {
      height: 255px;
      margin: 20px;
    }
  }

  .key-box {
    width: auto;
  }

  .kasa-body {
    width: 100%;
  }
}
