.container-logement {
  margin-top: 30px;
}

.container-logement-info {
  max-width: 1240px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.logement-info {
  width: auto;

  h1 {
    margin: 0;
    font-size: 36px;
    color: #FF6060;
  }

  h2 {
    font-size: 18px;
    color: #FF6060;
  }

}

.tag {
  display: flex;
  font-size: 14px;
  text-align: center;
  margin-right: 10px !important;
  margin: 15px 0;
  
}

.container-tag {
  padding: 5px 20px;
  width: auto;
  height: auto;
  border-radius: 10px;
  background: #FF6060;
  display: flex;
  color: #ffffff;
  margin: 15px 10px 15px 0;
  text-align: center;
}

.logement-host-name-picture {
  width: 160px;
  display: flex;
  flex-direction: row;  
  align-items: center;
}

.host-picture {
  height: 64px;
  width: 64px;
  background-color: #C4C4C4;
  border-radius: 50px;
}

.logement-host-name {
  width: 64px;
  padding-right: 10px;
  color: #FF6060;
  width: auto;
  text-align: right;
}

.logement-rating {
  margin-top: 24px;
  display: flex;
  justify-content: center;
}

.logement-collapse {
  margin: auto;
  max-width: 1240px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 100px;

  .accordion-title {
    font-size: 18px;
    padding: 15px;
    width: 560px;
  }

  .accordion-content {
    width: 549px;
  }

}

@media screen and (280px <= width <= 375px) {
  .container-logement {
    margin-top: 0;
  }

  .container-logement-info {
    flex-direction: column;
  }

  .container-logement {
    margin: 0 20px;
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .logement-info {
    h1 {
      margin: 0;
      font-size: 18px;
      max-width: 100%;
    }

    h2 {
      margin-top: 5px;
    font-size: 14px;
    }

  }

  .container-tag {
    display: flex;
    width: auto;
    height: 18px;
    font-size: 10px;
    align-items: center;
  }

  .tag {
    height: auto;
    margin-top: 10px;
  }

  .container-more-info {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;   
    align-items: center; 
    margin-bottom: 16px;
  }

  .host-picture {
    height: 32px;
    width: 32px;
  }

  .logement-host-name {
    font-size: 12px;
  }

  .logement-rating {
    margin: 0;
  }

  .logement-host-name-picture {
    justify-content: flex-end;
    width: 90px;
  }

  .logement-collapse {
    flex-direction: column;
    width: 100%;
    margin: 0;
    margin-bottom: 134px;
    .collapse-container {
      width: 92.5%;
      margin: 0;
      margin-top: 20px;
    }

    .accordion-title {
      font-size: 13px;
      padding: 6px 12px;
      width: 100%;
    }
  
    .accordion-content {
      width: 98%;
    }  

  }

}

@media screen and (376px <= width <= 768px) {
  .container-logement {
    margin-top: 0;
  }

  .container-logement-info {
    flex-direction: column;
  }

  .container-logement {
    margin: 0 20px;
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .logement-info {
    h1 {
      margin: 0;
      font-size: 24px;
      max-width: 100%;
    }

    h2 {
      margin-top: 5px;
      font-size: 18px;
    }

  }

  .container-tag {
    display: flex;
    width: auto;
    height: 18px;
    font-size: 14px;
    align-items: center;
  }

  .tag {
    height: auto;
    margin-top: 10px;
  }

  .container-more-info {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;   
    align-items: center; 
    margin-bottom: 16px;
  }

  .host-picture {
    height: 32px;
    width: 32px;
  }

  .logement-host-name {
    font-size: 12px;
  }

  .logement-rating {
    margin: 0;
  }

  .logement-host-name-picture {
    justify-content: flex-end;
    width: 90px;
  }

  .logement-collapse {
    flex-direction: column;
    width: 100%;
    margin: 0;
    margin-bottom: 148px;
    .collapse-container {
      width: 96.5%;
      margin: 0;
      margin-top: 20px;
    }

    .accordion-title {
      font-size: 13px;
      padding: 6px 12px;
      width: 100%;
    }
  
    .accordion-content {
      width: 98%;
    }  

  }

}

@media screen and (769px <= width <= 992px) {
  .container-logement {
    margin-top: 0;
  }

  .container-logement-info {
    margin: 0 20px;
    flex-direction: column;
  }

  .container-logement {
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .logement-info {
    h1 {
      margin: 0;
      font-size: 24px;
      max-width: 100%;
    }

    h2 {
      margin-top: 5px;
      font-size: 18px;
    }

  }

  .container-tag {
    display: flex;
    width: auto;
    height: 18px;
    font-size: 14px;
    align-items: center;
  }

  .tag {
    height: auto;
    margin-top: 10px;
  }

  .container-more-info {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;   
    align-items: center; 
    margin-bottom: 16px;
    margin: 0;
  }

  .host-picture {
    height: 48px;
    width: 48px;
  }

  .logement-host-name {
    font-size: 15px;
  }

  .logement-rating {
    margin: 0;
  }

  .logement-host-name-picture {
    justify-content: flex-end;
    width: 90px;
  }

  .logement-collapse {
    flex-direction: column;
    width: 96%;
    margin: 0 20px;
    margin-bottom: 123px;
    .collapse-container {
      width: 97%;
      margin: 0;
      margin-top: 20px;
    }

    .accordion-title {
      font-size: 13px;
      padding: 6px 12px;
      width: 100%;
    }
  
    .accordion-content {
      width: 98%;
    }  
  }
}

@media screen and (993px <= width <= 1200px) {
  .container-logement {
    margin: 0 40px;
  }

  .container-logement-info {
    margin: 20px 0;
  }
  .logement-info {
    h1 {
      margin: 0;
      font-size: 28px;
      max-width: 100%;
    }

    h2 {
      margin-top: 5px;
      font-size: 20px;
    }

  }

  .container-tag {
    font-size: 16px;
  }

  .tag {
    margin-top: 10px;
  }

  .host-picture {
    height: 54px;
    width: 54px;
  }

  .logement-host-name {
    font-size: 18px;
  }

  .logement-collapse {
    justify-content: space-between;
    width: auto;
    margin-bottom: 20px;
    .collapse-container {
      width: 45%;
      margin-top: 20px;
    }

    .accordion-title {
      font-size: 15px;
      padding: 6px 12px;
      width: 95%;
    }  

    .accordion-content {
      width: 98%;
    }  

  }

}